<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center">Login</p>
    </div>
  </div>
  <div class="post-form">
    <p id="alert"><%= alert %></p>
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <br>
      <div class="actions text-center"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</div>
