<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center"> All the things <u><%= @child.name %></u> has done! </p>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="child-show-post-form col-centered">
        <%= form_for [@child, Post.new] do |f| %>
         <p>
            <%= f.label :title, "What happened today?" %><br>
            <%= f.text_field :title, size: "40"  %>
          </p>

          <p>
            <%= f.label :text, "More details..." %><br>
            <%= f.text_area :text, size: "40x5" %>
          </p>

          <p>
            <%= f.label :image_url %>
            <%= f.text_field :image_url, size: "40" %>
          </p>

          <p>
            <%= f.label :event_date %><br>
            <%= f.date_select :event_date, start_year: 1900, end_year: Time.now.year,
                              :order => [:month, :day, :year] %>
          </p>

          <p>
          <%= f.submit %>
        </p>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
     <div class="post-table col-centered">
      <table class="table table-hover table-bordered col-centered">
        <thead>
        <tr class="row-head-color">
          <th class="col-sm-4"><%= "Title" %></th>
          <th class="col-sm-6"><%= "Text" %></th>
          <th class="col-sm-2"><%= sortable "event_date", "Date" %></th>
        </tr>
        </thead>

        <tbody>
        <% @posts.each do |post| %>

          <tr>
            <td><%= link_to post.title, child_post_path(@child, post) %></td>
            <td><%= post.text %></td>
            <td class="text-center"><%= post.event_date.strftime("%m/%d/%y") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <h2 class="head-font text-center">
        <%= @child.name %> was born on <%= @child.birthday.strftime("%B %d, %Y") %>!
      </h2>
    </div>
   </div>
  </div>
</div>
