<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center">Your Account Info</p>
    </div>
  </div>


  <div class="centered text-center">
    <h3 class="head-font">Edit Your Information:</h3>
    <%= form_for :user, url: user_path(@user), method: :patch do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions"><%= f.submit "Update" %></div>
    <% end %>
  </div>

    <br>

    <table class="nice table-bordered table-hover col-centered">
      <h3 class="head-font text-center">Your Children</h3>
      <thead>
      <tr class="row-head-color">
        <th>Name</th>
        <th><%= sortable "birthday", "Birthday" %></th>
        <th class="text-center" colspan="2">Modify</th>
      </tr>
      </thead>

      <tbody>
      <% @child.each do |child| %>

        <tr>
          <td><%= link_to child.name, child_path(child) %></td>
          <td><%= child.birthday.strftime("%m/%d/%Y") %></td>
          <td><%= link_to 'Edit', edit_child_path(child) %></td>
          <td><%= link_to 'Delete', child_path(child),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
