<h1>User Account Info</h1>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<br>

<h3>Children</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
  </tr>

  <% @child.each do |c| %>

    <tr>
      <td><%= c.name %></td>
      <td><%= c.birthday %></td>
      <td><%= link_to 'Show', children_path(c) %></td>
      <td><%= link_to 'Edit', edit_child_path(c) %></td>
      <td><%= link_to 'Destroy', child_path(c),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
