<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center">All of <%= current_user.name %>'s Posts</p>
    </div>
  </div>

<table class="table-bordered table-hover col-centered">
  <thead>
  <tr class="row-head-color">
    <th>Title</th>
    <th>Text</th>
    <th><%= sortable "event_date", "Event Date" %></th>
    <th>Child</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.text %></td>
      <td class="text-center"><%= post.event_date.strftime("%m/%d/%Y") %></td>
      <td><%= link_to post.child.name, child_path(post.child_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
