<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center">A First for <%= @post.child.name %>!</p>
    </div>
  </div>

    <div class="posted-img text-center">
      <% if @post.image.url != '/images/original/missing.png' %>
          <%= image_tag @post.image.url(:medium) %>
      <% end %>
      <%= link_to(@post.image_url) do %>
        <%= image_tag(@post.image_url, width: "300px") if @post.image_url? %>
      <% end %>
    </div>
    <h3 class="head-font text-center">
      <%= @post.title %>
    </h3>

  <div class="posts-show">
    <p>
      <%= @post.text %>
    </p>

     <p>
      <%= @post.event_date.strftime("%m/%d/%Y") %>
    </p>
    <div>
      <%= link_to 'Edit', edit_post_path(@post) %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Delete', child_post_path(@post.child_id, @post),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to'Back to ', child_path(@post.child_id) %>
      <%= link_to @post.child.name, child_path(@post.child_id)%>
    </div>
    <br>
  </div>
  <br>
</div>
