<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center">A First for <%= @post.child.name %>!</p>
    </div>
  </div>

  <div class="post-form">
    <%= link_to(@post.image_url) do %>
      <%= image_tag(@post.image_url, width: "300px") if @post.image_url? %>
    <% end %>
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @post.text %>
    </p>

     <p>
      <strong>Event Date:</strong>
      <%= @post.event_date.strftime("%m/%d/%Y") %>
    </p>
    <div class="text-center">
      <%= link_to 'Edit', edit_post_path(@post) %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Delete', child_post_path(@post.child_id, @post),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Back', child_path(@post.child_id)%>
    </div>
  </div>
</div>
