<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Kid's Firsts</title>
  <link href='https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <% if current_user %>
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">my kid's firsts</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li> <%= link_to 'Your Children', children_path %> </li>
            <li> <%= link_to 'All Posts', posts_path %> </li>
            <li> <%= link_to 'Your Account', account_path %> </li>
            <li> <%=link_to 'Logout', session_path('dummy'), method: :delete %> </li>
          </ul>
          <p class="navbar-text navbar-right">Welcome <%= current_user.name %>! </p>
        </div>
      </div>
  <% else %>
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">my kid's firsts</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <%= link_to 'Login', login_path %> </li>
            <li> <%= link_to 'Sign Up', signup_path %> </li>
          </ul>
        </div>
      </div>
    <% end %>
</nav>

<%= yield %>

</body>
</html>
